<div class="center">

	{{#if message}}
	<h1>{{message}}</h1>
	{{else}}
	<h1> HAPPY FOODIE</h1>
	<h2 style="padding:0;"> EAT WELL, SPEND WELL, LIVE WELL </h2>
	{{/if}}

	{{#if user}}
		<h3>Today</h3>
			Daily budget left: ${{budget}}
			<br>
			Calories consumed: {{calorie}} kcal
		<h3> Daily Goal </h3>
			Daily budget: ${{user.budget}}
			<br>
			Calories: {{user.calorie}} kcal
	{{/if}}
</div>